* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #f9cc1d;
    background-color: #6db7f1;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;
}
