* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #f9cc1d;
    background-color: #6db7f1;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;
    margin-bottom: 30px;
}

.board {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player {
    display: flex;
    flex-flow: column;
    align-items: center;

    margin: 0 10px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 10px;
}

.hp {
    position: relative;
    width: 100%;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;

    overflow: hidden;
}
.health {
    width: 100%;
    height: 100%;
    background-color: green;
}
.hp-value {
    position: absolute;
    width: 100%;
    top: 0;
    left: 35px;
}

.control {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;
}
button {
    color: brown;
    font-size: 20px;

    width: 200px;
    height: 50px;
    margin-bottom: 20px;

    background: none;
    border: 2px solid tomato;
    border-radius: 10px;
}

button:disabled {
    color: #666;
    border-color: #666;
}
